[logging]
file = /tmp/magnetometer-ftp.log
format = %(asctime)s - %(name)-16s - %(levelname)-10s - %(message)s
level = debug
file_count = 5

[server]
host = localhost
port = 8080
timeout = 15

[ftp]
poll_time = 60000
host = ftp.example.com
port = 21
username = anonymous
password = anonymous
local_dir = /tmp/magnetometer-data
remote_dir = /
max_old_files = 7
