[logging]
file = /tmp/magnetometer-server.log
format = %(asctime)s - %(name)-16s - %(levelname)-10s - %(message)s
level = debug
file_count = 5

[server]
host = localhost
port = 8080
default_readings_per_request = 100
max_readings_per_request = 1000
default_format = json
quiet = 1

[datastore]
size = 1000
